@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

@import "~@fremtind/jkl-core/_functions.scss";

$button-height--normal: rem(48px);
$button-height--compact: rem(36px);
$button-min-width--normal: rem(104px);
$button-min-width--compact: rem(80px);
$button-text-size--compact: rem(14px);

$button-bg-color: transparent;
$button-bg-color--primary: $svart;

$button-text-color: $svart;
$button-text-color--primary: $hvit;

$button-border-color: $svart;
$button-border-width: rem(1px);
$button-padding: $component-spacing--xl;

$button-focus-color: $info;
$button-focus-color--inverted: $info--darkbg;
$focus-ring-distance: rem(2px);
$focus-ring-width: rem(2px);

$hover-elevation-distance: -0.25rem;

:root,
[data-theme="light"] {
    --button-background-color: transparent;
    --button-text-color: #{$svart};
    --button-background-color--primary: #{$svart};
    --button-text-color--primary: #{$hvit};
    --button-border-color: #{$svart};
    --button-focus-color: #{$info};
}

[data-theme="dark"] {
    --button-text-color: #{$hvit};
    --button-background-color--primary: #{$hvit};
    --button-text-color--primary: #{$svart};
    --button-border-color: #{$hvit};
    --button-focus-color: #{$info--darkbg};
}

.jkl-button {
    @include reset-outline;
    display: inline-flex;
    justify-content: center;
    @include jkl-text-style("compact/body");
    font-weight: $bold-weight;
    height: $button-height--normal;
    min-width: $button-min-width--normal;
    line-height: $button-height--normal;
    cursor: pointer;

    background-color: $button-bg-color;
    background-color: var(--button-background-color);
    color: $button-text-color;
    color: var(--button-text-color);

    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    border: none;
    outline: none;
    @include motion("standard");
    transition-property: transform;
    transform-origin: 50% 90%;
    position: relative;

    html:not([data-mousenavigation]) &:focus,
    &:hover {
        transform: scale(1.05);
    }

    html:not([data-mousenavigation]) &:active,
    &:active {
        transform: scale(1);
    }

    // ********* VARIANTS *********

    &--primary {
        background-color: $button-bg-color--primary; // legacy IE11 code
        background-color: var(--button-background-color--primary);
        color: $button-text-color--primary; // legacy IE11 code
        color: var(--button-text-color--primary);
    }

    &--primary,
    &--secondary {
        border: solid $button-border-width;
        border-color: $button-border-color; // legacy IE11 code
        border-color: var(--button-border-color);
        border-radius: 999px;
        padding: 0 $button-padding;

        &:after {
            @include motion("standard");
            transition-property: box-shadow;
            border-radius: 99px;
            border: solid $focus-ring-width transparent;
            box-shadow: none;
            content: "";
            position: absolute;
            bottom: -($button-border-width + $focus-ring-distance);
            left: -($button-border-width + $focus-ring-distance);
            right: -($button-border-width + $focus-ring-distance);
            top: -($button-border-width + $focus-ring-distance);
        }

        html:not([data-mousenavigation]) &:focus {
            &:after {
                box-shadow: 0 0 0 $focus-ring-width $button-focus-color; // legacy IE11 code
                box-shadow: 0 0 0 $focus-ring-width var(--button-focus-color);
            }
        }
    }

    &--tertiary {
        border-bottom: solid $button-border-width;
        border-bottom-color: $button-border-color; // legacy IE11 code
        border-bottom-color: var(--button-border-color);
        border-top: solid $button-border-width transparent;
        padding: 0;
        transition-property: transform, border;
        min-width: unset;

        &:focus,
        &:hover {
            border-bottom-width: rem(2px);
        }

        html:not([data-mousenavigation]) &:focus {
            border-bottom-color: $button-focus-color; // legacy IE11 code
            border-bottom-color: var(--button-focus-color);
        }
    }

    // <<<< Legacy code for IE11 using "inverted" prop
    &--inverted {
        &.jkl-button--primary {
            background-color: $button-bg-color;
            background-color: var(--button-background-color--primary);
            color: $button-text-color;
            color: var(--button-text-color--primary);
            border-color: $button-bg-color;
            border-color: var(--button-border-color);
        }

        &.jkl-button--secondary {
            color: $button-text-color--primary;
            color: var(--button-text-color);
            border-color: $button-text-color--primary;
            border-color: var(--button-border-color);
        }

        &.jkl-button--primary,
        &.jkl-button--secondary {
            html:not([data-mousenavigation]) &:focus:after {
                box-shadow: 0 0 0 $focus-ring-width $button-focus-color;
                box-shadow: 0 0 0 $focus-ring-width var(--button-focus-color);
            }
        }

        &.jkl-button--tertiary {
            color: $button-text-color--primary;
            color: var(--button-text-color);
            border-bottom-color: $button-text-color--primary;
            border-bottom-color: var(--button-border-color);

            html:not([data-mousenavigation]) &:focus {
                border-bottom-color: $button-focus-color--inverted;
                border-bottom-color: var(--button-focus-color);
            }
        }
    }
    // end of legacy code >>>>

    @include compact-mode {
        font-size: $button-text-size--compact;
        line-height: $button-height--compact;
        height: $button-height--compact;
        min-width: $button-min-width--compact;
        &.jkl-button--tertiary {
            min-width: unset;
        }
    }
}
