@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$radio-button-size: rem(24px);
$radio-button-size--compact: rem(18px);
$radio-button-height: rem(48px);
$radio-button-height--compact: rem(40px);

$radio-button-dot-padding: rem(3px);
$radio-button-dot-padding--compact: rem(2px);

$radio-button-vertical-spacing: $component-spacing--large;
$radio-button-vertical-spacing--compact: $component-spacing--medium;

@import "theme";
@import "legacy";

@keyframes dotexpand {
    0% {
        transform: scale(0) rotate(-45deg);
        border-radius: 0%;
    }
    50% {
        transform: scale(1);
        border-radius: 40%;
    }
    100% {
        transform: scale(1) rotate(15deg);
        border-radius: 50%;
    }
}

.jkl-radio-button {
    @include reset-outline;
    cursor: pointer;
    display: flex;
    height: $radio-button-height;
    align-items: center;

    &__input {
        // hide default radio button
        position: absolute;
        opacity: 0;
    }

    &__dot {
        // Outer circle
        position: relative;
        margin-right: $component-spacing--small;
        display: inline-block;
        box-sizing: border-box;

        height: $radio-button-size;
        width: $radio-button-size;
        border-radius: 50%;

        border: rem(1px) solid;
        border-color: var(--radio-button-circle-color);
        background-color: var(--radio-button-background-color);
        @include motion("standard");
        transition-property: transform;

        .jkl-radio-button__input:hover ~ & {
            transform: scale(1.1);
        }
        .jkl-radio-button__input:active ~ & {
            transform: scale(0.9);
        }

        // Focus ring
        &:before {
            content: "";
            position: absolute;
            top: rem(-3px);
            right: rem(-3px);
            bottom: rem(-3px);
            left: rem(-3px);
            border-radius: 50%;
            background-color: transparent;

            html:not([data-mousenavigation]) .jkl-radio-button__input:focus ~ & {
                box-shadow: 0 0 0 rem(2px) var(--radio-button-focus-color);
            }
        }

        // Inner dot
        &:after {
            content: "";

            display: inline-block;
            position: absolute;
            top: $radio-button-dot-padding;
            right: $radio-button-dot-padding;
            bottom: $radio-button-dot-padding;
            left: $radio-button-dot-padding;
            transform: rotate(-45deg) scale(0);
            background-color: var(--radio-button-dot-color);

            .jkl-radio-button__input:checked ~ & {
                /* animate dot */
                animation: dotexpand 0.3s cubic-bezier(0.17, 0.17, 0.76, 1);
                /* final appearance */
                transform: scale(1) rotate(0deg);
                border-radius: 50%;
            }
        }
    }

    &__label {
        @include jkl-text-style("desktop/body");

        .jkl-radio-button__input:checked ~ & {
            font-weight: $bold-weight;
        }
    }

    &--inline {
        display: inline-flex;

        &:not(:first-of-type) {
            margin-left: $component-spacing--xl;
        }
    }

    &--error {
        --radio-button-circle-color: var(--radio-button-error-color);
        --radio-button-dot-color: var(--radio-button-error-color);
    }

    @include compact-mode {
        height: $radio-button-height--compact;

        .jkl-radio-button__label {
            @include jkl-text-style("compact/body");
        }
        .jkl-radio-button__dot {
            height: $radio-button-size--compact;
            width: $radio-button-size--compact;
        }
        .jkl-radio-button__dot:after {
            top: $radio-button-dot-padding--compact;
            right: $radio-button-dot-padding--compact;
            bottom: $radio-button-dot-padding--compact;
            left: $radio-button-dot-padding--compact;
        }
    }

    @include small-device {
        height: $radio-button-height--compact;

        .jkl-radio-button__label {
            @include jkl-text-style("compact/body");
        }
        .jkl-radio-button__dot {
            height: $radio-button-size--compact;
            width: $radio-button-size--compact;
        }
        .jkl-radio-button__dot:after {
            top: $radio-button-dot-padding--compact;
            right: $radio-button-dot-padding--compact;
            bottom: $radio-button-dot-padding--compact;
            left: $radio-button-dot-padding--compact;
        }
    }
}
